body{
     font-family: 'Oswald', sans-serif;
}
header{
    background:darkcyan;
    padding: 5% 0;   
}
.header-form{
    color: black;
    font-size: 20px;
    text-align: center;  
}
main{

}
.container{    
    margin-top: 5%;
}

#logradouro{
    text-align: left;
    padding: 0 25%;
}
.grupo{

    padding: 0 25%;
    text-align: center;
    margin-bottom: 5%;
}
.input-padrao{

}
button{
    padding: .5em 50%;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: black;
	background-color:darkcyan;
	border-color: #04324c;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}

